
.p5_right_box_picture_row_wrapper{
   width: 90%;
   margin: 6rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 20px;
}
.p5_right_box_picture_box{
    position: relative;
    width:40rem;
    height: 13rem;
    margin-bottom: 7rem;
}

.p5_right_box_picture{
    position: absolute;
    width: 100%;
    height: 100%;
}
.p5_right_box_picture_caption{
    position: absolute;
    width:100%;
    border: 1px solid rgba(94, 94, 94, 0.122);
    height: 40%;
    border-top:none;
    text-align: center;
    top: 200px;
    background-color: white;
    padding-bottom:10px;

}
.p5_right_box_picture_yellow_box{
    width: 40px;
    height: 50px;
    background-color: orange; 
    color: white;
    font-size: 18px;
    text-align: center;
    position: absolute;
    right: 30px;
    margin-top: -30px;
    padding: 3px;
   
}


.gray_border{
    height: 1500px;
    border: 2px solid gainsboro;
    width: 100%;
    margin-left: 0px;
}

@media only screen and(max-width: 768px){
    
    .p5_right_box_picture_box{
        width:  50%;
    }
    
}
